server:
  port: 8000

---
spring:
  config:
    activate:
      on-profile: test
server:
  port: 4000
myCustomVarTree:
  welcomeMsg: Hello from test

---
spring:
  config:
    activate:
      on-profile: prod
server:
  port: 5000
myCustomVarTree:
  welcomeMsg: Hello from prod







